<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gelbooru Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-info is-large">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                  <img src="./assets/icon.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                  <span class="navbar-item">
                    <a href="https://github.com/KeziahMoselle/gelbooru-bot" class="button is-info is-inverted">
                      <span class="icon">
                        <i class="fab fa-github"></i>
                      </span>
                      <span>Source</span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </nav>
        </div>
      
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title">
              Gelbooru
            </p>
            <p class="subtitle">
              Discord Bot
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li>
                  <a href="./index.html">Overview</a>
                </li>
                <li class="is-active">
                  <a>Commands</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </section>

      <section class="section">
        <div class="container">
          
          <div class="columns">
            <div class="column"></div>

            <div class="column">
              <article class="message is-large">
                <div class="message-header">
                  <p>$help - List of commands</p>
                </div>
                <div class="message-body">
                  
                </div>
              </article>
            </div>

            <div class="column"></div>
          </div>

        </div>
      </section>
  </body>
</html>