<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gelbooru Bot</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <header>
      <img src="./assets/icon.png" alt="Gelbooru Logo">
      <h1>Gelbooru Bot</h1>
      <a class="btn" href="https://discordapp.com/api/oauth2/authorize?client_id=415593816159027200&permissions=2048&scope=bot">Add to Discord</a>
      <a class="btn inverse" href="https://github.com/KeziahMoselle/gelbooru-bot">Github</a>
    </header>

  </body>
</html>